@layout('layouts/empty')

@section('title')
  forgot-password-page
@endsection

@section('current-class')
  forgot-password-page
@endsection

@section('custom-style-app-container')

@endsection

@section('content')

@endsection