@layout('layouts/empty')

@section('title')
  register-page
@endsection

@section('current-class')
  register-page
@endsection

@section('custom-style-app-container')

@endsection

@section('content')

@endsection