@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "variables";
@import "pages/home.scss";
@import "pages/welcome.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  // background: purple;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background: rgba(23, 35, 104, 1);
  background: -moz-linear-gradient(-45deg,
      rgba(23, 35, 104, 1) 0%,
      rgba(226, 73, 175, 1) 100%);
  background: -webkit-gradient(left top,
      right bottom,
      color-stop(0%, rgba(23, 35, 104, 1)),
      color-stop(100%, rgba(226, 73, 175, 1)));
  background: -webkit-linear-gradient(-45deg,
      rgba(23, 35, 104, 1) 0%,
      rgba(226, 73, 175, 1) 100%);
  background: -o-linear-gradient(-45deg,
      rgba(23, 35, 104, 1) 0%,
      rgba(226, 73, 175, 1) 100%);
  background: -ms-linear-gradient(-45deg,
      rgba(23, 35, 104, 1) 0%,
      rgba(226, 73, 175, 1) 100%);
  background: linear-gradient(135deg,
      rgba(23, 35, 104, 1) 0%,
      rgba(226, 73, 175, 1) 100%);
}

.app-container {
  width: 100%;
  max-width: 1400px;
  background: #fff;
  // min-height: calc(100vh - 15vh);
  height: 800px;
  overflow: hidden;
  border-radius: 5px;
}










// te remove focus from input
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}



// h1 {
//   font-weight: 100;
//   font-size: 50px;
// }
//
// .home {
//   height: 100%;
//   width: 100%;
//   text-align: center;
//
//   img {
//     width: 100%;
//     max-width: 300px;
//     margin: 0 auto;
//   }
//
//   .Aligner {
//     min-height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
//
//   .Aligner-item {
//     max-width: 50%;
//   }
//
//   .menu {
//     ul {
//       li {
//         padding: 10px 15px;
//         display: inline-block;
//         font-family: 'Roboto', sans-serif;
//         font-size: 18px;
//         font-weight: 500;
//       }
//     }
//   }
//
//   .version-num {
//     background: #E8E8E8;
//     border-radius: 4px;
//     padding: 7px 15px;
//     display: inline-block;
//     font-size: 12px;
//     margin: 10px 0 20px;
//   }
//
//   a { a headline made with HTML
// And I am a simple text paragraph. The color of this text is styled with CSS. Click the button below to remove me through the power JavaScript.
//
// ￼Hide the text above
//     text-decoration: none;
//     color: #30395C;
//     transition: all 0.3s ease-in-out;
//
//     &:hover {
//       color: #43D4D6;
//     }
//   }
// }
