@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "variables";

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  // background: purple;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background: rgba(23, 35, 104, 1);
  background: -moz-linear-gradient(-45deg,
      rgba(23, 35, 104, 1) 0%,
      rgba(226, 73, 175, 1) 100%);
  background: -webkit-gradient(left top,
      right bottom,
      color-stop(0%, rgba(23, 35, 104, 1)),
      color-stop(100%, rgba(226, 73, 175, 1)));
  background: -webkit-linear-gradient(-45deg,
      rgba(23, 35, 104, 1) 0%,
      rgba(226, 73, 175, 1) 100%);
  background: -o-linear-gradient(-45deg,
      rgba(23, 35, 104, 1) 0%,
      rgba(226, 73, 175, 1) 100%);
  background: -ms-linear-gradient(-45deg,
      rgba(23, 35, 104, 1) 0%,
      rgba(226, 73, 175, 1) 100%);
  background: linear-gradient(135deg,
      rgba(23, 35, 104, 1) 0%,
      rgba(226, 73, 175, 1) 100%);
}

.app-container {
  width: 100%;
  max-width: 1400px;
  background: #fff;
  min-height: calc(100vh - 15vh);
  overflow: hidden;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 15% 65% 20%;

  #left-menu {
    border-right: 2px solid #e6e9ef;

    .account-dropdown {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      padding: 15px;

      .logo {
        .fab {
          font-size: 2rem;
        }
      }

      .name {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;

        .fa-chevron-down {
          font-size: 0.8rem;
        }
      }
    }
  }
}

//app-container

.groups {
  padding: 50px;

  .group {
    .title {
      padding: 10px 0;

      font-size: 0.8rem;
      font-weight: 700;
      text-transform: uppercase;
    }

    ul {
      li {
        color: #818397;
        font-size: 0.8rem;
        padding: 10px 0;
      }
    }
  }
}

#content-container {
  overflow: hidden;
  height: 800px;

  .content-area {
    box-sizing: content-box;
    width: 100%;
    height: calc(100% - 30px);
    overflow: auto;
    padding: 0 15px 0 8px;
  }

  .search-header {
    position: relative;
    padding: 10px;
    // -webkit-box-shadow: 0px 0px 15px -3px rgba(191, 191, 191, 1);
    // -moz-box-shadow: 0px 0px 15px -3px rgba(191, 191, 191, 1);
    box-shadow: $boxShadowBtns;

    .search-box {
      padding: 10px;
      width: 600px;
      margin: 0 auto;

      input[type="text"] {
        background: #f3f3f3;
        border: none;
        border-radius: 3px;
        font-size: 1.2rem;
        width: 100%;
        padding: 5px 15px;
      }
    }

    .icon-section {
      position: absolute;
      top: 20px;
      right: 0;
      font-size: 1.2rem;
      padding-right: 15px;

      &>div {
        display: inline-block;
        padding: 0 5px;
        color: #797979;
        position: relative;
      }

      .noti-number {
        display: none;
        position: absolute;
        background: $red;
        color: white;
        font-size: 0.6rem;
        top: -5px;
        right: -7px;
        padding: 2px 3px;
        border: 2px solid white;
        border-radius: 5px;

        &.active {
          display: block;
        }
      }
    }
  }

  .compose-section {
    position: relative;
    width: 600px;
    margin: 0 auto;
    padding: 35px 0;

    textarea {
      width: 100%;
      background: $textfield;
      border: none;
      border-radius: 4px;
      padding: 15px 30px;
      font-size: 1.2rem;
      height: 75px;
    }

    .user-img {
      position: absolute;
      background: url("https://images.unsplash.com/photo-1496081081095-d32308dd6206?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=dd302358c7e18c27c4086e97caf85781");
      width: 40px;
      height: 40px;
      border: 5px solid white;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      top: 20px;
      left: -15px;
    }

    .buttons {
      position: absolute;
      right: 15px;
      bottom: 20px;
      display: flex;

      .button {
        display: inline-block;
        background: white;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-left: 15px;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        // -webkit-box-shadow: 0px 0px 15px -3px rgba(191, 191, 191, 1);
        // -moz-box-shadow: 0px 0px 15px -3px rgba(191, 191, 191, 1);
        box-shadow: $boxShadowBtns;
        color: $htext;

        &.send-btn {
          color: white;
          background: rgba(50, 173, 255, 1);
          background: -webkit-linear-gradient(rgba(50, 173, 255, 1) 0%,
              rgba(1, 120, 255, 1) 100%);
          background: -o-linear-gradient(rgba(50, 173, 255, 1) 0%,
              rgba(1, 120, 255, 1) 100%);
          background: linear-gradient(rgba(50, 173, 255, 1) 0%,
              rgba(1, 120, 255, 1) 100%);
        }

        .fa-paper-plane {
          transform: rotate(50deg);
        }
      }
    }
  }
}

#updates {
  .update-container {
    max-width: 630px;
    width: 100%;
    margin: 0 auto;

    .author-info {
      display: flex;
      padding: 15px;

      .user-img {
        // position: absolute;
        display: inline-block;
        background: url("https://images.unsplash.com/photo-1496081081095-d32308dd6206?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=dd302358c7e18c27c4086e97caf85781");
        width: 40px;
        height: 40px;
        border: 5px solid white;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
      }

      .info {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
        color: $ptext;

        a {
          color: $htext;
          text-decoration: none;
          font-weight: 700;
          margin: 0 10px;
        }
      }
    }

    .media {
      position: relative;

      .image {
        position: relative;
        z-index: 2;
        margin: 25px 0 50px;
        // background: url('https://images.pexels.com/photos/1549196/pexels-photo-1549196.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
        height: 300px;
        width: 100%;
        border: 5px solid white;
        // background-position: center center;
        // background-repeat: no-repeat;
        // background-size: cover;
        border-radius: 5px;
        // -webkit-box-shadow: 0px 32px 49px -21px rgba(59, 71, 99, 1);
        // -moz-box-shadow: 0px 32px 49px -21px rgba(59, 71, 99, 1);
        box-shadow: $boxShadowBtns;
      }
    }

    .padding-container {
      padding: 0 15px;
    }

    .grey-container {
      z-index: 1;
      top: -50px;
      position: relative;
      background: $backgroundContent;
      padding: 50px 20px;
      // -webkit-box-shadow: 0px 21px 49px -21px rgba(59, 71, 99, 0.5);
      // -moz-box-shadow: 0px 21px 49px -21px rgba(59, 71, 99, 0.5);
      box-shadow: $boxShadowBtns;

      .update-info {
        h3 {
          color: $htext;
          text-transform: uppercase;
          font-weight: 600;
          line-height: 1.5;
          font-size: 1.3rem;
          margin-bottom: 1rem;
        }

        p {
          color: $ptext;
          line-height: 2;
          font-size: 0.8rem;
          margin-bottom: 1rem;
        }
      }

      .update-stats {
        display: flex;
        padding: 15px 0;
        border-top: 2px solid $border;
        border-bottom: 2px solid $border;
        margin-bottom: 30px;

        .icon-section {
          .like-circle {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20px;
            width: 20px;
            font-size: 0.6rem;
            color: #f3f3f3;
            border-radius: 50%;
            background: linear-gradient(#32adff 0%, #0178ff 100%);

            .fa-thumbs-up {
              position: relative;
              top: -1px;
            }
          }
        }

        .other-users {
          width: 70%;
          color: $veryLightText;
          font-size: 0.7rem;
          display: flex;
          padding-left: 10px;
          justify-content: flex-start;
          align-items: center;
        }

        .comment-stats {
          width: 30%;
          color: $veryLightText;
          font-size: 0.7rem;
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
      }

      .compose-comments {
        display: flex;
        position: relative;

        // .fa-comment {
        //   position: absolute;
        //   z-index: 1;
        //   bottom: 0;
        //   font-size: 2rem;
        //   color: white;
        // }

        textarea {
          position: relative;
          border: none;
          height: 40px;
          widows: 100%;
          border-radius: 20px;
          z-index: 2;
          box-shadow: $boxShadowBtns;
        }

        .buttons {
          display: flex;
          // align-items: center;
          // justify-content: center;

          .repost-btn {
            box-shadow: $boxShadowBtns;
            height: 40px;
            width: 40px;
            background: white;
            color: $darkSideBlue;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin-left: 20px;
          }

          .like-btn {
            box-shadow: $boxShadowBtns;
            height: 40px;
            width: 40px;
            background: linear-gradient(#32adff 0%, #0178ff 100%);
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-left: 20px;

            .fa-thumbs-up {
              position: relative;
              top: -1px;
            }
          }
        }
      }
    }
  }
}

#messanger {
  background: #0178ff;
  overflow: hidden;

  .messanger-header {
    overflow: hidden;
    display: flex;
    height: 53.33;
    box-shadow: 0px 2px 15px -3px #1b1b1b;
    background: linear-gradient(135deg, rgba(1, 120, 255, 1) 0%, rgba(50, 174, 255, 1) 100%);
    font-size: 1.2rem;
    padding: 10px 0;
    color: white;

    .messanger-icon {
      height: 33.33px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 20%;
      padding-left: 15px;
    }

    .title {
      color: white;
      width: 50%;
      text-transform: capitalize;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.1rem;
    }

    .options-icon {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 15px;

    }

  }
}

// h1 {
//   font-weight: 100;
//   font-size: 50px;
// }
//
// .home {
//   height: 100%;
//   width: 100%;
//   text-align: center;
//
//   img {
//     width: 100%;
//     max-width: 300px;
//     margin: 0 auto;
//   }
//
//   .Aligner {
//     min-height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
//
//   .Aligner-item {
//     max-width: 50%;
//   }
//
//   .menu {
//     ul {
//       li {
//         padding: 10px 15px;
//         display: inline-block;
//         font-family: 'Roboto', sans-serif;
//         font-size: 18px;
//         font-weight: 500;
//       }
//     }
//   }
//
//   .version-num {
//     background: #E8E8E8;
//     border-radius: 4px;
//     padding: 7px 15px;
//     display: inline-block;
//     font-size: 12px;
//     margin: 10px 0 20px;
//   }
//
//   a { a headline made with HTML
// And I am a simple text paragraph. The color of this text is styled with CSS. Click the button below to remove me through the power JavaScript.
//
// ï¿¼Hide the text above
//     text-decoration: none;
//     color: #30395C;
//     transition: all 0.3s ease-in-out;
//
//     &:hover {
//       color: #43D4D6;
//     }
//   }
// }
