<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <title>Hello Adonis</title>
  {{-- {{ style('main') }} --}}
  <script src="https://kit.fontawesome.com/6c78a9c647.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="app-container welcome-page" >
    <h1>Welcome to toku</h1>
    <h3>The Dream Social Network</h3>
  </div>
    <script src="/js/components/vendor.js"></script>
    <script src="/js/components/firstComp.js"></script>


</body>
</html>
